/*
    Index
    -------------------------------
    * Imports
    * Reset
    * Config
    * Main header styles
    * Lodge gallery styles
    * Footer styles
*/

/*
    * Imports
    -------------------------------
*/

@import "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

/*
    * Reset
    -------------------------------
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    max-width: 400px; /* for dev */
    object-fit: cover;
}

input,
button {
    border: none;
    background: none;
}

.link-btn {
    display: inline-block;
    padding: 0;
    margin-top: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.link-btn:hover {
    color: var(--primary-color);
}

/*
    * Config
    -------------------------------
*/

body {
    font-family: 'Raleway', sans-serif;
}

:root {
    --desktop-breakpoint: 992px;
    --mobile-breakpoint: 768px;
    --primary-color: #0065FC;
    --primary-color-light: #DEEBFF;
    --gray: #F2F2F2;
    --default-radius: 15px
}

::placeholder {
    font-weight: bold;
    color: initial;
}

h1,
h2 {
    margin-bottom: 1.5rem;
}

input,
button {
    padding: 15px;
}

.container {
    padding: 25px 50px;
}

/*
    * Main header styles
    -------------------------------
    TODO :
     * Rajouter le style sur mobile
*/

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-top: 0;
    padding-bottom: 0;
}

.main-header__logo {
    max-width: 60px;
}

.navigation {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.navigation__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    border-top: 2px solid transparent;
    transition: border-top-color 0.3s, color 0.3s;
}

.navigation__item--active,
.navigation__item:hover {
    border-top-color: var(--primary-color);
    color: var(--primary-color);
}

/*
    * Search Zone
    -------------------------------
    TODO :
     * Rajouter le style au survol
     * Rajouter le style sur mobile
*/

.search-zone {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 1rem;
    gap: 2rem;
}

.search-zone__title {
    margin-bottom: 0.5rem;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
}

.search-form__input {
    display: inline-flex;
    font-weight: bold;
}

.search-form__input i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    aspect-ratio: 1; /* la largeur est égale à 1 fois la hauteur */
    background: var(--gray);
    border-radius: var(--default-radius) 0 0 var(--default-radius);
}

.search-form__input input {
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}

.search-form__input button {
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    border-radius: 0 var(--default-radius) var(--default-radius) 0;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.filters__field {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    min-width: fit-content;
    border: 2px solid var(--gray);
    border-radius: 50px;
}

.filters__field i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105%;
    position: relative;
    left: -2px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary-color-light);
    color: var(--primary-color);
}

.filters__field span {
    margin: 0 15px;
}

.filters__field input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.search-form__info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: normal;
}

.search-form__info i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    aspect-ratio: 1;
    border: 1px solid var(--gray);
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 0.7rem;
}

/*
    * Lodge gallery styles
    -------------------------------
*/

.lodge-gallery {
    display: flex;
    gap: 2rem;
}

.lodge-gallery__item {
    background: var(--gray);
    padding: 2rem;
    border-radius: var(--default-radius);
    width: 100%;
}

.lodge-gallery__item.widget {
    max-width: 400px;
    width: 40%;
}

.card-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-gallery--vertical {
    flex-direction: column;
}

.card-gallery__item {
    width: calc((100% - 4rem) / 3); /* on retire les 4rem correspondant aux paddings left et right du block global" */
}

.card-item {
    min-width: 250px;
    padding: 5px;
    border-radius: var(--default-radius);
    overflow: hidden;
    box-shadow: 0 4px 15px -5px #43434359;
    background: #fff;
}

.card-item__container {
    display: block;
}

.card-item__banner {
    display: block;
    width: 100%;
    aspect-ratio: 2/1; /* La hauteur du bloc correspond à 50% de la largeur  */
    border-radius: var(--default-radius) var(--default-radius) 0 0;
    overflow: hidden;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    padding: 0.5rem;
}

.card-gallery--vertical .card-gallery__item {
    width: 100%;
    aspect-ratio: 2/1;
}

.card-gallery--vertical .card-item__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.card-gallery--vertical .card-item__banner {
    width: 45%;
    aspect-ratio: initial;
    border-radius: var(--default-radius) 0 0 var(--default-radius);
}

/* TODO:
    régler l'alignement des reviews
    */
.card-gallery--vertical .card-item__content {
    justify-content: space-between;
    padding: 1rem;
}

.lodge-pricing {
    font-weight: bold;
}

.review {
    font-size: 0.8em;
    color: var(--gray);
}

.review__star.active {
    color: var(--primary-color);
}

.widget__titles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.widget__titles i {
    font-size: 1.5rem;
}

/*
    * Footer styles
    -------------------------------
*/
.main-footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem 0;
    flex-wrap: wrap;
    background: var(--gray);
    padding: 50px;
}

.main-footer__menu {
    width: calc(100% / 3);
}

.main-footer__menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}